body{
    background: black;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    letter-spacing: 7px;
    color: white;
    transform: translateX(-50%) translateY(-50%);
}